@import "bourbon";
@import "vars.scss";

@media (min-width: 1500px) and (max-width: 1900px){
	// .btndwn{display:none}
	#sec_01{
		background-size: 100%;
		background-position: left -50px top 0;
		.bg_text{
			left: -200px;
		}
		p.title{
			margin-top: 400px;
		}
	}
	#sec_02{
		background-position: top 0 right -200px;
	}
	#sec_04{
		background-position: top right -200px;
	}
	#sec_06, #sec_08{
		background-position: top right -150px;
	}
}

@media (min-width: 1201px) and (max-width: 1499px){
	.good_card{
		.slider_block{
		  float: left;
		  width: 430px;
		}
		.slider-big{
		  img{
		    width: 100%;
		  }
		}
	}
	#sec_01{
		background-size: 110%;
		background-position: left -50px top 0;
		p.title{
						margin-top: 400px;
		}
		.bg_text{
			left: -220px;
			bottom: 360px;
			font-size: 380px;
		}
	}
	#sec_02{
		background-position: top 0 right -300px;
		h2{
			margin-top: -70px;
			margin-bottom: 30px;
		}
		ul{
			li+li{
				margin-top: 14px;
			}
		}
	}
	#sec_03{
		background-position: top -100px right 0px;
		h2{
			margin-top: 0;
		}
		.col-6{
			margin-left: -30px;
		}
	}
	#sec_04{
		background-position: top right -300px;
	}
	#sec_06, #sec_08{
		background-position: top right -150px;
	}
	#sec_08{
		.btndwn{display:none;}
		ul{
			li{
				font-size: 16px;
			}
			li+li{margin-top: 13px}
		}
	}
	#sec_09{
		background: url(../img/sec_09-bg-hd.png) top right no-repeat;
		h2{
			margin-top: 0px;
		}
	}
}
@media only screen and (max-width : 1300px){
	.container{width: 100%;}
	#sec_01{
		background-position: left 50px top 0 !important;
		h1{margin-right: 0;}
	}
		#sec_09 .contacts, #footer, section{padding-left: 80px !important;}
		#nav{
			.inner{
		  margin-left: 100px;
		}
	}
	[class*="good_card"]{
		padding-left: 80px;
	}
}

@media only screen and (max-width : 1200px) {
	.present_spray{
	  img{display: none;}
	}
	[class*="good_card"]{display: none;}
	section, .fp-tableCell{height: auto !important;}
	.btndwn{
		position: static;
		display: block;
		width: 80px;
		height: 20px;
		margin: 40px auto;
	}
	#sec_01{
		background-size: 80%;
		text-align: center;
		background-position: top 0 left -20px;
		padding: 0 0 100px;
		height: auto !important;
		h1{margin-right: 0;}
		p.title{margin-top: 300px;}
		.bg_text{
			display:none;
		}
		.col-6{
			width: 100%;
			left: 0;
		}
		.btn{
			margin: 30px auto 0px;
		}
		.mobile{display: flex;}
		.desctop{display:none;}
	}
	#sec_02{
		padding: 0 0 300px;
		height: auto !important;
		.btndwn{display:none;}
		background-size: 80%;
		background-position: bottom right;
		text-align: center;
		.col-6{
			width: 100%;
			left: 0;
		}
	}
	#sec_03{
		padding: 60px 0 500px;
		text-align: center;
		background-size: 80%;
		background-position: bottom left;
		h2{margin: 0 0 30px;}
		.mobile{display:flex;}
		.desctop{display: none;}
		.col-6{
			width: 100%;
			left: 0;
			margin-left: 0;
		}
		.btn{
			margin: 30px auto 0px;
		}
	}
	#sec_04{
		background-position: right bottom;
		background-size: 80%;
		padding: 40px 0 300px;
		text-align: center;
		h2{margin: 0;}
		.col-6{
			width: 100%;
			left: 0;
		}
		.btn{
			margin: 30px auto 0px;
		}
	}
	#sec_05{
		background: none;
		padding: 100px 0;

		.mobile{display:block;}
		.desctop{display: none;}
		.item{
			width: 95%;
			height: 360px;
			padding: 20px;
			img{
				width: 100%;
			}
		}
	}
	#sec_06{
		h2{margin-top: 0;}
		.btndwn{
			margin: 40px 0;
		}
	}
	#sec_07{
		background: url(../img/sec_08-bg.png) bottom right  no-repeat;
		background-size: 80%;
		padding: 80px 0 300px;
		text-align: center;
		.col-6{
			width: 100%;
			left: 0;
		}
		.btn{
			margin: 30px auto 0px;
		}
		.mobile{display: flex;}
		.desctop{display:none;}
	}
	#sec_08{
		display: none;
	}
	#sec_09{
		background: none;
		padding: 50px 0 160px;
		text-align: center;
		h2{margin-top: 0}
		.btn{
			margin: 30px auto 40px;
		}
		.btndwn{display: none;}
		.col-6{
			width: 100%;
			left: 0;
		}
	}
	#nav{
		.desctop{display:none;}
		.mobile{display:block;}
	}
}

@media only screen and (max-width : 992px) {
	#nav.open{
		width: 100%;
		background-size: contain;
	}
	#sec_01{
		p.title{margin-top: 280px;}
	}
	#sec_02{
		padding-bottom: 280px;
	}
	#sec_03{
		padding-bottom: 400px;
	}
	#sec_04{
		padding-bottom: 200px;
	}
	#sec_05{
		text-align: center;
		padding-bottom: 40px;
		.item{
			text-align: left;
			p{
				font-size: 11px;
			}
		}
		.slick-prev{
			left: 0px !important;
			right: auto;
		}
	}
	#sec_06{
		padding: 40px 0 200px;
		background-size: 80%;
		background-position: bottom right;
		text-align: center;
		.col-6{
			width: 100%;
			left: 0;
		}
	}
	#sec_09{
		padding-bottom: 0;
		.contacts{
			position: static;
			padding-left: 0 !important;
		}
		#footer{
			text-align: center !important;
			position: static;
			padding-left: 0 !important;
			.tl{text-align: center;}
			.politics{
				text-align: center !important;
				float: none;
			}
			.logo-gs{
				float: none;
				margin-top: 20px;
				display: inline-block;
			}
		}
	}
	#nav{
			.inner{
		  margin-left: 30px;
		}
		.contacts{
			span{
				display: block;
			}
		}
	}
	[id*='modal_good']{
		.slick-slide{
			text-align: center;
		}

	  .slider_block{
	    float: none;
	    margin: 0 auto;
	    max-width: 420px;
	    width: 100%;
	  }
	  .text_block{
	    float: none;;
	    width: 100%;
	    text-align: center;
	    margin-top: 20px;
	    .price{
	    	text-align: center;
	    }
	    .md-trigger{text-align: center;}
	  }
	}
	#modal_goods{
		.btn_close_modal{
			margin: 0 0 20px !important;
		}
	}
}


@media only screen and (max-width : 720px) {
	#sec_01{
		p.title{
			margin-top: 230px;
		}
	}
	#sec_02{
		padding-bottom: 200px;
	}
	#sec_03{
		padding-bottom: 315px;
		ul{margin-top: 30px;}
	}
	#sec_04{
		padding: 0 0 165px;
	}
	#sec_07{
		padding: 49px 0 160px;
	}
	#sec_09{
		padding-bottom: 0px;
	}
}

@media only screen and (max-width : 650px) {
		.sizes_card{display:none !important;}
	#sec_09 .contacts, #footer, section{padding-left: 40px !important;}
		#sec_01{
		background-position: left 30px top 0 !important;
	}
	#nav{
		width: 40px;
		padding-left: 40px;
		.svg{
			width: 40px;
			margin-left: -42px;
		}
		.companie{
			font-size: 24px;
			margin-left: -33px;
		}
		.trigger{left: -113px;}
		#modal_nav{
			margin-left: 40px;
			form{
				margin-left: 5px;
				margin-right: 45px
			}
		}
		#modal_send{
			margin-left: 40px;
			padding: 0 5px 0 45px;
		}
		li+li{margin-top: 15px;}
	}
}

@media only screen and (max-width : 500px) {
	body{
		font-size: 16px;
		line-height: 22px;
	}
	h2{
		font-size: 22px;
		line-height: 28px;
	}
	h1{
		font-size: 30px;
		line-height: 36px;
	}
	#sec_01{
		padding-bottom: 20px;
		background-size: 100%;
		p.title{
			margin-top: 185px;
		}
	}
	#sec_02{
		padding-bottom: 170px;
		br{display:none;}
	}
	#sec_03{
		padding:30px 0 215px;
		br{display:none;}
		ul li{
			font-size: 16px;
			line-height: 23px;
		}
	}
	#sec_04{
		padding: 0 0 100px;
		ul li{
			font-size: 16px;
			line-height: 23px;
		}
	}
	#sec_05{
		.item{
			padding: 10px;
		}
	}
	#sec_06{
		padding-bottom: 75px;
	}
	#sec_07{
		padding: 49px 0 95px;
	}
	[id*='modal_goods']{
	  .slider-big{
	    img{
	      max-width: 420px;
	      width: 100%;
	    }
	  }
	  .slider-small{
	    display: none;
	  }
	  .slider_block{
	    float: none;
	    margin: 0 auto;
	    max-width: 420px;
	    width: 100%;
	  }
	  .text_block{
	    float: none;;
	    width: 100%;
	    text-align: center;
	    margin-top: 20px;
	  }
	}
}

@media only screen and (max-width : 400px) {
	#sec_05{
		.item{
			height: auto;
		}
	}
}

@media only screen and (max-width : 380px) {
	#modal_goods{
		.btn_close_modal{
			margin: -10px auto 50px !important;
		}
	}
}
@media only screen and (max-height : 830px){
	[class*='good_card']{
		.slider_block{
			width: 350px;
		}
	}
}


@media only screen and (max-height : 720px){
	#nav{
		li+li{
			margin-top: 15px;
		}
	}
}
@media only screen and (max-height : 670px){
	.sizes_card{display:none !important;}
	}

@media only screen and (max-height : 600px){
	#nav{
		li+li{
			margin-top: 0px;
		}
		.trigger{
			font-size: 12px;
		}
		.trigger:before{
			display: none;
		}
		.contacts{display:none;}
	}
}