@import "bourbon";

$orange : #fa6b26;
$black: #14171c;

$Agency: "Agency", sans-serif;
$Akrobat_900: "Akrobat-Black", sans-serif;
$Akrobat_700: "Akrobat-ExtraBold", sans-serif;
$Akrobat_300: "Akrobat-Light", sans-serif;
$Helvetica_700: "HelveticaNeueCyr-Bold", sans-serif;
$Helvetica_300: "HelveticaNeueCyr-Light", sans-serif;
$Helvetica_400: "HelveticaNeueCyr-Roman", sans-serif;
$Helvetica_100: "HelveticaNeueCyr-Thin", sans-serif;

