@import "bourbon";
@import "vars.scss";

body{
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	font: 18px/27px  $Helvetica_400;
  letter-spacing: .08em;
  color: $black;
	background-color: #fff;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
		border: 0;
	}
}

input,textarea{
	box-sizing: border-box;
}

textarea{
	resize:none;
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	width: 0;
	height: 0;
}

.btn{
  position: relative;
  max-width: 290px;
  width:100%;
  height: 60px;
  padding: 0 15px;
  background: #131313;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  font: 12px/20px $Helvetica_400;
  letter-spacing: .14em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  span{
    position: relative;
    z-index: 10;
  }
}
.btn:after{
  content: "";
  position: absolute;
  background: #ff6b19;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;

  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}


.btn:hover:after{
  height: 320%;
}


h1{
  color: $black;
  font-family: $Akrobat_700;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
h2{
  color: $black;
  font-family: $Akrobat_700;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.btndwn{
  position: absolute;
  display: block;
  color: $black;
  font-family: $Akrobat_700;
  font-size: 14px;

  transform: rotate(-90deg);
  transition: color 0,4s;
}

.btndwn:hover{
  color: $orange;
}

.btndwn:before{
  content: "";
  position: absolute;
  width: 80px;
  height: 15px;
  bottom: -20px;
  left: 0;
  background: url(../img/slider-prev.png) center no-repeat;
}

.orange{color:$orange;}

#sec_01{
  background: url(../img/sec_01-bg.png) top left 0px no-repeat;
  background-size: cover;
  position: relative;
  .bg_text{
    color: $orange;
    font-family: $Agency;
    mix-blend-mode: multiply;
    font-size: 450px;
    font-weight: 700;
    line-height: 132px;
    transform: rotate(-90deg);
    position: absolute;
    left: 177px;
    bottom: 445px;
  }
  p.title{margin: 370px -20px 32px 0}
  .title{
    font: 18px/20px $Helvetica_300;
    letter-spacing: .14em;
    margin-right: -20px;
    span{
      font-family: $Helvetica_700;
    }
  }
  .text{
    font: 16px/20px $Helvetica_100;
    letter-spacing: 0.14em;
    margin: 40px 0 20px;
  }
  .btndwn{
    top: 270px;
    left: 450px;
  }
}