@import "bourbon";
@import "vars.scss";

//Custom Styles Here

input{
  height: 57px;
  border: 2px solid black;
  padding: 0 20px;
  font: 18px $Helvetica_400;
}

select{
  height: 50px;
  width: 200px;
  border: 2px solid black;
  padding: 0 10px;
}

#sec_02{
  background: url(../img/sec_02-bg.jpg) top right 0px no-repeat;
  background-size: cover;
  position: relative;

  h2{
    margin: 0 0px 50px 0;
  }
  ul{
    li{
      font-family: $Helvetica_100;
      .number{
        color: $orange;
        font: 20px $Akrobat_700;
      }
      span{font-family: $Helvetica_400}
    }
    li+li{margin-top: 20px;}
  }
  .btndwn{
    top: 0px;
    left: 575px;
  }
}

#sec_03{
  background: url(../img/sec_03-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative;

  .col-6{margin-left: -30px;}
  h2{
    margin:100px 0 50px;
  }
  li{
    font: 18px/27px $Helvetica_100;
    .orange{
      font-family: $Akrobat_900;
    }
    span{
      font-family: $Helvetica_400;
    }
  }
  li+li{margin-top: 20px;}
  ul{margin-bottom: 30px;}
  .title{
    margin: 10px 0 20px;
  }
  .text{
    font-family: $Helvetica_300;
    margin-bottom: 30px;
    span{
      font-family: $Helvetica_400;
    }
  }
  .btndwn{
    top: -20px;
    left: -600px;
  }
}

#sec_04{
  background: url(../img/sec_04-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative;

  h2{margin: -190px 0 10px}
  h2+p{font-family: $Helvetica_300;}
  ul{margin: 30px 0 0;}
  li{
    font: 18px/27px $Helvetica_100;
    span{
      font-family: $Helvetica_400;
    }
    img{margin-right: 10px;}
  }
  li+li{margin-top: 20px;}
  .btndwn{
    top: -100px;
    left: 580px;
  }
}

#sec_05{
  background: url(../img/sec_05-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative;
  .mobile{display:none;}
  h2{margin-bottom: 50px;}
  .sldier_goods--slide a{
    display:block;
    background: rgba(0,0,0,.5) url(../img/plus.png) top 50% center no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: absolute;
    z-index: 10;
    transition: opacity 0.4s;
    opacity: 0;
  }
  .sldier_goods--slide a:hover{
    opacity: 1;
  }
  .item{
    border: 2px solid #eee;
    position: relative;
    width: 360px;
    height: 430px;
    top: 0;
    left: 0;
    padding: 40px;
    img{
      margin: 0 auto 20px;
    }
    p{
      color: #1a1a1a;
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }
  .btn{
    width: 100%;
    max-width: 360px;
    margin: 70px auto 0;
  }
  a.btn:hover:after{
    height: 420%;
  }
  .slick-next:before{
    content : 'Next';
    position: absolute;
    top: -1px;
    left: -26px;
    transition: color 0.4s;

    font-family: $Akrobat_700;
  }
  .slick-prev:before{
    content : 'Previous';
    position: absolute;
    top: -1px;
    right: -43px;
    transition: color 0.4s;

    font-family: $Akrobat_700;
  }
}

#sec_06{
  background: url(../img/sec_06-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative;

  h2{
    margin-bottom: 30px;
    margin-top: -300px;
  }
  p{
    font-family: $Helvetica_300;
    letter-spacing: 0.14em;
    span{
      font-family: $Helvetica_400;
    }
  }
  .btndwn{
    top: -250px;
        left: 585px;
  }
}

#sec_07{
  background: url(../img/sec_07-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative;

  h2{margin: 0px 0 50px;}
  ul{
    li{
      span{
        font-family: $Helvetica_700;
      }
    }
    li+li{margin-top: 30px;}
  }
  .btn{margin-top: 30px;}
  .btndwn{
    top: 200px;
    left: -170px;
  }
}

#sec_08{
  background: url(../img/sec_08-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative;

  h2{margin-bottom: 40px;}
  ul{
    li{
      line-height: 25px;
      font-family: $Helvetica_300;
      span{
        font-family: $Helvetica_400;
      }
    }
    li+li{margin-top: 20px;}
  }
  .btndwn{
    top: -50px;
       left: 700px;
  }
}

#sec_09{
  background: url(../img/sec_09-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative;
  h2{margin: 240px 0 20px;}
  p{font-family: $Helvetica_300;}
  .btn{margin-top: 30px;}
  .contacts{
    position: absolute;
    background-color: #252525;
    bottom: 80px;
    left: 0;
    right: 0;
    .phones{
      float: right;
    }
    .social{
      float: left;
      margin-top: 20px;
      li{
        display: inline-block;
        a{
          font-size: 18px;
        }
      }
      li+li{margin-left: 5px}
    }
    .container{
      border-bottom: 2px solid #444;
      font-family: $Helvetica_300;
      padding: 15px 0 10px;
      a{
        color: #fff;
        font-size: 14px;
      }
      a:hover{
        color: $orange;
      }
    }
  }
  #footer{
    position: absolute;
    font-family: $Helvetica_300;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .btndwn{
    top: 150px;
    right: -100px;
    transform: rotate(270deg);
  }
  .btndwn:before{
    background: url(../img/slider-next.png) center no-repeat;
  }
}


#footer{
  padding: 25px 0 15px;
  background-color: #252525;
  .politics{
    float: left;
    line-height: 29px;
    a+a{
      margin-left: 10px;
      display: inline-block;
    }
  }
  .logo-gs{
    float: right;
    width: 95px;
    display: block;
    svg{
      fill: #fff;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
    }
  }
  a{
    color: #fff;
    font-size: 14px;
  }
  a:hover{
    color: $orange;
    svg{
      fill: $orange;
    }
  }
}

[id*='modal_good_form']{
.field{margin-top: 5px}
select{display:inline-block;}
.md-content{
  overflow: visible !important;
}
}

[class*='good_card']{
  .fp-next{
    border-color: transparent transparent transparent $orange;
    right: 0px;
  }
  .fp-prev{
   border-color: transparent $orange transparent transparent;
   left: 0px;
  }
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.8s;
  z-index: 100;
  background: #fff url(../img/modal-bg.png) top right no-repeat;
  .card{
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  .sizes_card{
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .slider-big{
    img{
      width: 420px;
    }
  }
  .slider-small{
    margin-top: 30px;
    .slick-slide{
      border: 1px solid #fff;
      cursor: pointer;
    }
    .slick-center{
      border: 1px solid $orange;
    }
  }
  .slider_block{
    float: left;
    width: 530px;
  }
  .text_block{
    float: right;
    width: 530px;
    .title{
      text-transform: uppercase;
      letter-spacing: 0.04em;
    }
    .text{
      font: 16px/22px $Helvetica_300;
      margin: 20px 0;
    }
    .price{
      margin: 5px 0;
      span{
        display: inline-block;
        margin-left: 20px;
        color: #b6b6b6;
        text-decoration: line-through;
      }
    }
  }
  .pagination{
    font-family: $Akrobat_900;
    [alt="arrow_separator"]{margin: 0 10px;}
    margin-bottom: 40px;
    .btn_close_modal_goods:hover{
      cursor: pointer;
      color: $orange;
      transition: 0.3s;
    }
  }
}
.good_card-8{
  .card{
    padding-left: 60px;
    padding-right: 60px;
    img{
      max-width: 400px;
    }
  }
}

[class*='good_card'].open{
  width: 100%;
}

.card.visible{
  opacity: 1;
  visibility: visible;
}

div[id*="modal_sizes"]{
  max-width: 580px !important;
  min-width: 580px !important;
  img{width: 100%;}
  .md-content{
    padding: 20px;
  }
  table{
    width: 100%;
    text-align: center;
    .first-row{
      font-size: 14px;
      border-bottom: 2px solid $orange;
      td{cursor: default;}
      td:hover{background: none;color: $black;}
    }
    td{
      border: 1px solid #eee;
      padding: 1px 4px;
      transition: 0.3s;
      cursor: pointer;
    }
    td:hover, td.selected{
      background: $orange;
      color: #fff;
    }
  }
}

[id*='modal_goods'] {
  min-width: 280px !important;
  max-width: 900px !important;
  width: 95%;
  min-height: 100px;
  max-height: 840px;
  height: 90%;
  .slider-sprays_mobile{
    .price{text-align: left !important;}
    img{
      display: inline-block;
      width: 100% !important;
      max-width: 400px;
    }
  }
}
  [id*='modal_good'] .md-content {
    text-align: left !important;
    padding: 20px;
    min-height: 280px;
    max-height: 710px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden; }
  [id*='modal_good'] .md-trigger {
    text-align: right;
    display: block;
    text-decoration: underline;
    margin-bottom: 10px; }
  [id*='modal_good'] .slider-big img {
    width: 420px; }
  [id*='modal_good'] .slider-small {
    margin-top: 30px; }
    [id*='modal_good'] .slider-small .slick-slide {
      border: 1px solid #fff;
      cursor: pointer; }
    [id*='modal_good'] .slider-small .slick-center {
      border: 1px solid #fa6b26; }
  [id*='modal_good'] .slider_block {
    float: left;
    width: 420px; }
  [id*='modal_good'] .text_block {
    float: right;
    width: 420px; }
    [id*='modal_good'] .text_block .title {
      text-transform: uppercase;
      letter-spacing: 0.04em; }
    [id*='modal_good'] .text_block .text {
      font: 16px/22px "HelveticaNeueCyr-Light", sans-serif; }
    [id*='modal_good'] .text_block .price {
      text-align: right; }
      [id*='modal_good'] .text_block .price span {
        display: inline-block;
        margin-left: 20px;
        color: #b6b6b6;
        text-decoration: line-through; }
    [id*='modal_good'] .text_block form {
      max-width: 300px;
      width: 100%;
      margin: 0 auto; }
    [id*='modal_good'] .text_block .field {
      max-width: 291px;
      margin-top: 5px;
      width: 100%; }
      [id*='modal_good'] .text_block .field input {
        width: 100%; }
    [id*='modal_good'] .text_block .btn {
      max-width: 291px;
      margin-top: 10px; }


[id*="modal_politics"]{
  .md-content{
    padding: 20px 0 0 20px;
  }
}

//ALWAYS END
@import "sketches.scss";
@import "media.scss";
@import "../libs/niftymodal/component.css";
@import "../libs/slick/slick.min.css";
@import "../libs/fullPage/jquery.fullpage.min.css";
@import "../fonts/font-awesome/font-awesome.min.css"