@import url(../libs/niftymodal/component.css);
@import url(../libs/slick/slick.min.css);
@import url(../libs/fullpage/jquery.fullpage.min.css);
@import url(../fonts/font-awesome/font-awesome.min.css);
section {
  border-bottom: 3px solid #000; }

input {
  height: 57px;
  border: 2px solid black;
  padding: 0 20px;
  font: 18px/50px "HelveticaNeueCyr-Roman", sans-serif; }

select {
  height: 50px;
  width: 200px;
  border: 2px solid black;
  padding: 0 10px; }

#sec_02 {
  background: url(../img/sec_02-bg.jpg) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_02 h2 {
    margin: -100px 0px 50px 0; }
  #sec_02 ul li {
    font-family: "HelveticaNeueCyr-Thin", sans-serif; }
    #sec_02 ul li .number {
      color: #fa6b26;
      font: 20px "Akrobat-ExtraBold", sans-serif; }
    #sec_02 ul li span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
  #sec_02 ul li + li {
    margin-top: 20px; }
  #sec_02 .btndwn {
    top: 0px;
    left: 575px; }

#sec_03 {
  background: url(../img/sec_03-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_03 .col-6 {
    margin-left: -30px; }
  #sec_03 h2 {
    margin: 100px 0 50px; }
  #sec_03 li {
    font: 18px/27px "HelveticaNeueCyr-Thin", sans-serif; }
    #sec_03 li .orange {
      font-family: "Akrobat-Black", sans-serif; }
    #sec_03 li span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
  #sec_03 li + li {
    margin-top: 20px; }
  #sec_03 ul {
    margin-bottom: 30px; }
  #sec_03 .title {
    margin: 10px 0 20px; }
  #sec_03 .text {
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    margin-bottom: 30px; }
    #sec_03 .text span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
  #sec_03 .btndwn {
    top: -20px;
    left: -600px; }

#sec_04 {
  background: url(../img/sec_04-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_04 h2 {
    margin: -190px 0 10px; }
  #sec_04 h2 + p {
    font-family: "HelveticaNeueCyr-Light", sans-serif; }
  #sec_04 ul {
    margin: 30px 0 0; }
  #sec_04 li {
    font: 18px/27px "HelveticaNeueCyr-Thin", sans-serif; }
    #sec_04 li span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
    #sec_04 li img {
      margin-right: 10px; }
  #sec_04 li + li {
    margin-top: 20px; }
  #sec_04 .btndwn {
    top: -100px;
    left: 580px; }

#sec_05 {
  background: url(../img/sec_05-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_05 .mobile {
    display: none; }
  #sec_05 h2 {
    margin-bottom: 50px; }
  #sec_05 .sldier_goods--slide a {
    display: block;
    background: rgba(0, 0, 0, 0.5) url(../img/plus.png) top 50% center no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0; }
  #sec_05 .sldier_goods--slide a:hover {
    opacity: 1; }
  #sec_05 .item {
    border: 2px solid #eee;
    position: relative;
    background: #fff;
    width: 360px;
    height: 430px;
    top: 0;
    left: 0;
    padding: 40px; }
    #sec_05 .item img {
      margin: 0 auto 20px; }
    #sec_05 .item p {
      color: #1a1a1a;
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase; }
  #sec_05 .btn {
    width: 100%;
    max-width: 360px;
    margin: 70px auto 0; }
  #sec_05 a.btn:hover:after {
    height: 420%; }
  #sec_05 .slick-next:before {
    content: 'Next';
    position: absolute;
    top: -1px;
    left: -27px;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-family: "Akrobat-ExtraBold", sans-serif; }
  #sec_05 .slick-prev:before {
    content: 'Previous';
    position: absolute;
    top: -1px;
    right: -47px;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-family: "Akrobat-ExtraBold", sans-serif; }

#sec_06 {
  background: url(../img/sec_06-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_06 h2 {
    margin-bottom: 30px;
    margin-top: -300px; }
  #sec_06 p {
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    letter-spacing: 0.14em; }
    #sec_06 p span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
  #sec_06 .btndwn {
    top: -250px;
    left: 585px; }

#sec_07 {
  background: url(../img/sec_07-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_07 h2 {
    margin: 0px 0 50px; }
  #sec_07 ul li span {
    font-family: "HelveticaNeueCyr-Bold", sans-serif; }
  #sec_07 ul li + li {
    margin-top: 30px; }
  #sec_07 .btn {
    margin-top: 30px; }
  #sec_07 .btndwn {
    top: 200px;
    left: -170px; }

#sec_08 {
  background: url(../img/sec_08-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_08 h2 {
    margin-bottom: 40px; }
  #sec_08 ul li {
    line-height: 25px;
    font-family: "HelveticaNeueCyr-Light", sans-serif; }
    #sec_08 ul li span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
  #sec_08 ul li + li {
    margin-top: 20px; }
  #sec_08 .btndwn {
    top: -50px;
    left: 700px; }

#sec_09 {
  background: url(../img/sec_09-bg.png) top right 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_09 h2 {
    margin: 240px 0 20px; }
  #sec_09 p {
    font-family: "HelveticaNeueCyr-Light", sans-serif; }
  #sec_09 .btn {
    margin-top: 30px; }
  #sec_09 .contacts {
    position: absolute;
    background-color: #252525;
    bottom: 80px;
    left: 0;
    right: 0; }
    #sec_09 .contacts .phones {
      float: right; }
    #sec_09 .contacts .social {
      float: left;
      margin-top: 20px; }
      #sec_09 .contacts .social li {
        display: inline-block; }
        #sec_09 .contacts .social li a {
          font-size: 18px; }
      #sec_09 .contacts .social li + li {
        margin-left: 5px; }
    #sec_09 .contacts .container {
      border-bottom: 2px solid #444;
      font-family: "HelveticaNeueCyr-Light", sans-serif;
      padding: 15px 0 10px; }
      #sec_09 .contacts .container a {
        color: #fff;
        font-size: 14px; }
      #sec_09 .contacts .container a:hover {
        color: #fa6b26; }
  #sec_09 #footer {
    position: absolute;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    bottom: 0;
    left: 0;
    right: 0; }
  #sec_09 .btndwn {
    top: 150px;
    right: -100px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  #sec_09 .btndwn:before {
    background: url(../img/slider-next.png) center no-repeat; }

#footer {
  padding: 25px 0 15px;
  background-color: #252525; }
  #footer .politics {
    float: left;
    margin-left: -15px;
    line-height: 29px; }
    #footer .politics a + a {
      margin-left: 10px;
      display: inline-block; }
  #footer .logo-gs {
    float: right;
    width: 95px;
    display: block; }
    #footer .logo-gs svg {
      fill: #fff;
      -webkit-transition: all 0.6s;
      transition: all 0.6s; }
  #footer a {
    color: #fff;
    font-size: 14px; }
  #footer a:hover {
    color: #fa6b26; }
    #footer a:hover svg {
      fill: #fa6b26; }

.mobile {
  display: none !important; }

.present_spray {
  font: 15px/22px "HelveticaNeueCyr-Light", sans-serif;
  color: #fa6b26;
  margin-top: 30px;
  margin-bottom: 20px; }
  .present_spray span {
    font-family: "HelveticaNeueCyr-Bold", sans-serif; }
  .present_spray img {
    float: left;
    margin-top: -7px;
    margin-right: 15px; }

[id*='modal_good_form'] .field {
  margin-top: 5px; }

[id*='modal_good_form'] select {
  display: inline-block; }

[id*='modal_good_form'] .md-content {
  overflow: visible !important;
  background: none !important; }

[class*='good_card'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 100;
  background: #fff url(../img/modal-bg.png) top right no-repeat; }
  [class*='good_card'] .fp-next {
    border-color: transparent transparent transparent #fa6b26;
    right: 0px; }
  [class*='good_card'] .fp-prev {
    border-color: transparent #fa6b26 transparent transparent;
    left: 0px; }
  [class*='good_card'] .card {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  [class*='good_card'] .sizes_card {
    display: block;
    text-decoration: underline;
    margin-bottom: 10px; }
  [class*='good_card'] .slider-big img {
    width: 420px; }
  [class*='good_card'] .slider-small {
    margin-top: 30px; }
    [class*='good_card'] .slider-small .slick-slide {
      border: 1px solid #fff;
      cursor: pointer; }
    [class*='good_card'] .slider-small .slick-center {
      border: 1px solid #fa6b26; }
  [class*='good_card'] .slider_block {
    float: left;
    width: 530px; }
  [class*='good_card'] .text_block {
    float: right;
    width: 530px; }
    [class*='good_card'] .text_block .title {
      text-transform: uppercase;
      letter-spacing: 0.04em; }
    [class*='good_card'] .text_block .text {
      font: 16px/22px "HelveticaNeueCyr-Light", sans-serif;
      margin: 20px 0; }
    [class*='good_card'] .text_block .price {
      margin: 5px 0; }
      [class*='good_card'] .text_block .price span {
        display: inline-block;
        margin-left: 20px;
        color: #b6b6b6;
        text-decoration: line-through; }
  [class*='good_card'] .pagination {
    font-family: "Akrobat-Black", sans-serif;
    margin-bottom: 40px; }
    [class*='good_card'] .pagination [alt="arrow_separator"] {
      margin: 0 10px; }
    [class*='good_card'] .pagination .btn_close_modal_goods:hover {
      cursor: pointer;
      color: #fa6b26;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.good_card-8 .card {
  padding-left: 60px;
  padding-right: 60px; }
  .good_card-8 .card img {
    max-width: 400px; }

[class*='good_card'].open {
  width: 100%; }

.card.visible {
  opacity: 1;
  visibility: visible; }

div[id*="modal_sizes"] {
  max-width: 580px !important;
  min-width: 580px !important; }
  div[id*="modal_sizes"] img {
    width: 100%; }
  div[id*="modal_sizes"] .md-content {
    padding: 20px; }
  div[id*="modal_sizes"] table {
    width: 100%;
    text-align: center; }
    div[id*="modal_sizes"] table .first-row {
      font-size: 14px;
      border-bottom: 2px solid #fa6b26; }
      div[id*="modal_sizes"] table .first-row td {
        cursor: default; }
      div[id*="modal_sizes"] table .first-row td:hover {
        background: none;
        color: #14171c; }
    div[id*="modal_sizes"] table td {
      border: 1px solid #eee;
      padding: 1px 4px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }
    div[id*="modal_sizes"] table td:hover, div[id*="modal_sizes"] table td.selected {
      background: #fa6b26;
      color: #fff; }

[id*='modal_goods'] {
  min-width: 280px !important;
  max-width: 900px !important;
  width: 95%;
  min-height: 100px;
  max-height: 840px;
  height: 90%; }
  [id*='modal_goods'] .slider-sprays_mobile .price {
    text-align: left !important; }
  [id*='modal_goods'] .slider-sprays_mobile img {
    display: inline-block;
    width: 100% !important;
    max-width: 400px; }

[id*='modal_good'] .md-content {
  text-align: left !important;
  padding: 20px;
  min-height: 280px;
  max-height: 710px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

[id*='modal_good'] .md-trigger {
  text-align: right;
  display: block;
  text-decoration: underline;
  margin-bottom: 10px; }

[id*='modal_good'] .slider-big img {
  width: 420px; }

[id*='modal_good'] .slider-small {
  margin-top: 30px; }

[id*='modal_good'] .slider-small .slick-slide {
  border: 1px solid #fff;
  cursor: pointer; }

[id*='modal_good'] .slider-small .slick-center {
  border: 1px solid #fa6b26; }

[id*='modal_good'] .slider_block {
  float: left;
  width: 420px; }

[id*='modal_good'] .text_block {
  float: right;
  width: 420px; }

[id*='modal_good'] .text_block .title {
  text-transform: uppercase;
  letter-spacing: 0.04em; }

[id*='modal_good'] .text_block .text {
  font: 16px/22px "HelveticaNeueCyr-Light", sans-serif; }

[id*='modal_good'] .text_block .price {
  text-align: right; }

[id*='modal_good'] .text_block .price span {
  display: inline-block;
  margin-left: 20px;
  color: #b6b6b6;
  text-decoration: line-through; }

[id*='modal_good'] .text_block form {
  max-width: 300px;
  width: 100%;
  margin: 0 auto; }

[id*='modal_good'] .text_block .field {
  max-width: 291px;
  margin-top: 5px;
  width: 100%; }

[id*='modal_good'] .text_block .field input {
  width: 100%; }

[id*='modal_good'] .text_block .btn {
  max-width: 291px;
  margin-top: 10px; }

[id*="modal_politics"] .md-content {
  padding: 20px 0 0 20px; }

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
  cursor: grab !important;
  cursor: -webkit-grab !important; }

.touch_mode_grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important; }

/* ==========================*/
.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"], [id*='modal_good_form'] {
  max-width: 500px; }
  div[id*="modal_callback"] h2, [id*='modal_good_form'] h2 {
    font-size: 29px;
    line-height: 36px;
    margin: 30px; }
  div[id*="modal_callback"] .md-content, [id*='modal_good_form'] .md-content {
    padding: 20px;
    background: #fff;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .form-wrap, [id*='modal_good_form'] .form-wrap {
    display: block; }
  div[id*="modal_callback"] .field, [id*='modal_good_form'] .field {
    max-width: 360px;
    width: 100%; }
    div[id*="modal_callback"] .field input, [id*='modal_good_form'] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field, [id*='modal_good_form'] .field + .field {
    margin-top: 5px; }
  div[id*="modal_callback"] form, [id*='modal_good_form'] form {
    text-align: center; }
  div[id*="modal_callback"] .btn, [id*='modal_good_form'] .btn {
    max-width: 360px;
    width: 100%;
    margin-top: 20px; }
  div[id*="modal_callback"] textarea, [id*='modal_good_form'] textarea {
    width: 100%;
    height: 100px;
    resize: none;
    background: #fff;
    border: 1px solid #b7b7b7;
    padding: 5px 20px; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 20px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 320px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

#modal_ok .md-content {
  padding: 30px 20px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  line-height: 14px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -10px;
  opacity: 1; }

.btn_close_modal {
  display: block;
  width: 70px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal svg {
    width: 70px; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #DD1A1E; }

.t_small {
  font-size: 14px; }

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: none; }

.slick-dots li button {
  background-color: #fa6b26;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fa6b26;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 12px; }

.slick-next {
  z-index: 10;
  right: 0;
  background: url(../img/slider-next.png) top center no-repeat; }

.slick-prev {
  background: url(../img/slider-prev.png) top center no-repeat;
  z-index: 10;
  right: 180px; }

.slick-next, .slick-prev {
  position: absolute;
  display: block;
  cursor: pointer !important;
  width: 75px;
  height: 13px;
  border: none;
  outline: none;
  top: -40px; }

.slick-slide {
  outline: none; }

.slick-next:hover:before {
  color: #fa6b26; }

.slick-prev:hover:before {
  color: #fa6b26; }

input::-webkit-input-placeholder {
  color: #14171c;
  letter-spacing: 0.1em;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  font-size: 14px;
  line-height: 56px; }

input:-moz-placeholder {
  color: #14171c;
  letter-spacing: 0.1em;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  font-size: 14px;
  line-height: 56px; }

input::-moz-placeholder {
  color: #14171c;
  letter-spacing: 0.1em;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  font-size: 14px;
  line-height: 56px; }

input:-ms-input-placeholder {
  color: #14171c;
  letter-spacing: 0.1em;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  font-size: 14px;
  line-height: 56px; }

@media (min-width: 1500px) and (max-width: 1900px) {
  #sec_01 {
    background-size: 100%;
    background-position: left -50px top 0; }
    #sec_01 .bg_text {
      left: -200px; }
    #sec_01 p.title {
      margin-top: 400px; }
  #sec_02 {
    background-position: top 0 right -200px; }
  #sec_04 {
    background-position: top right -200px; }
  #sec_06, #sec_08 {
    background-position: top right -150px; } }

@media (min-width: 1201px) and (max-width: 1499px) {
  .good_card .slider_block {
    float: left;
    width: 430px; }
  .good_card .slider-big img {
    width: 100%; }
  #sec_01 {
    background-size: 110%;
    background-position: left -50px top 0; }
    #sec_01 p.title {
      margin-top: 400px; }
    #sec_01 .bg_text {
      left: -220px;
      bottom: 360px;
      font-size: 380px; }
  #sec_02 {
    background-position: top 0 right -300px; }
    #sec_02 h2 {
      margin-top: -170px; }
  #sec_03 {
    background-position: top -100px right 0px; }
    #sec_03 h2 {
      margin-top: 0; }
    #sec_03 .col-6 {
      margin-left: -30px; }
    #sec_03 .btndwn {
      left: -500px; }
  #sec_04 {
    background-position: top right -300px; }
  #sec_06, #sec_08 {
    background-position: top right -150px; }
  #sec_08 .btndwn {
    display: none !important; }
  #sec_08 ul li {
    font-size: 16px; }
  #sec_08 ul li + li {
    margin-top: 13px; }
  #sec_09 {
    background: url(../img/sec_09-bg-hd.png) top right no-repeat; }
    #sec_09 h2 {
      margin-top: 0px; } }

@media only screen and (max-width: 1300px) {
  .container {
    width: 100%; }
  #sec_01 {
    background-position: left 50px top 0 !important; }
    #sec_01 h1 {
      margin-right: 0; }
  #sec_09 .contacts, #footer, section {
    padding-left: 80px !important; }
  #nav .inner {
    margin-left: 100px; }
  #sec_08 {
    background-position: top right -250px; }
  [class*="good_card"] {
    padding-left: 80px; } }

@media only screen and (max-width: 1200px) {
  .desctop {
    display: none !important; }
  .mobile.btn {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .mobile.btndwn {
    display: block !important; }
  .present_spray img {
    display: none; }
  .present_spray br {
    display: none; }
  [class*="good_card"] {
    display: none; }
  section, .fp-tableCell {
    height: auto !important;
    border-bottom: none; }
  .btndwn {
    position: static;
    display: block;
    width: 80px;
    height: 20px;
    margin: 40px auto; }
  #sec_01 {
    background-size: 80%;
    text-align: center;
    background-position: top 0 left -20px;
    padding: 0 0 100px;
    height: auto !important; }
    #sec_01 h1 {
      margin-right: 0; }
    #sec_01 p.title {
      margin-top: 300px; }
    #sec_01 .bg_text {
      display: none; }
    #sec_01 .col-6 {
      width: 100%;
      left: 0; }
    #sec_01 .btn {
      margin: 30px auto 0px; }
  #sec_02 {
    padding: 0 0 300px;
    height: auto !important;
    background-size: 80%;
    background-position: bottom right;
    text-align: center; }
    #sec_02 .btndwn {
      display: none !important; }
    #sec_02 .col-6 {
      width: 100%;
      left: 0; }
  #sec_03 {
    padding: 60px 0 500px;
    text-align: center;
    background-size: 80%;
    background-position: bottom left; }
    #sec_03 .mobile {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    #sec_03 .desctop {
      display: none; }
    #sec_03 h2 {
      margin: 0 0 30px; }
    #sec_03 .col-6 {
      width: 100%;
      left: 0;
      margin-left: 0; }
    #sec_03 .btn {
      margin: 30px auto 0px; }
  #sec_04 {
    background-position: right bottom;
    background-size: 80%;
    padding: 40px 0 300px;
    text-align: center; }
    #sec_04 h2 {
      margin: 0; }
    #sec_04 .col-6 {
      width: 100%;
      left: 0; }
    #sec_04 .btn {
      margin: 30px auto 0px; }
  #sec_05 {
    background: none;
    padding: 100px 0; }
    #sec_05 .row.mobile {
      display: block !important; }
    #sec_05 .row.desctop {
      display: none; }
    #sec_05 .item {
      width: 95%;
      height: auto; }
      #sec_05 .item img {
        width: 100%; }
  #sec_06 h2 {
    margin-top: 0; }
  #sec_06 .btndwn {
    margin: 40px 0; }
  #sec_07 {
    background: url(../img/sec_08-bg.png) bottom right no-repeat;
    background-size: 80%;
    padding: 80px 0 300px;
    text-align: center; }
    #sec_07 .col-6 {
      width: 100%;
      left: 0; }
    #sec_07 .btn {
      margin: 30px auto 0px; }
    #sec_07 .mobile {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    #sec_07 .desctop {
      display: none; }
  #sec_08 {
    display: none; }
  #sec_09 {
    background: none;
    padding: 50px 0 160px;
    text-align: center; }
    #sec_09 h2 {
      margin-top: 0; }
    #sec_09 .btn {
      margin: 30px auto 40px; }
    #sec_09 .btndwn {
      display: none !important; }
    #sec_09 .col-6 {
      width: 100%;
      left: 0; }
    #sec_09 .contacts {
      padding-right: 10px; }
  #nav .desctop {
    display: none; }
  #nav .mobile {
    display: block !important; } }

@media only screen and (max-width: 992px) {
  #nav.open {
    width: 100%;
    background-size: contain; }
  #sec_01 p.title {
    margin-top: 280px; }
  #sec_02 {
    padding-bottom: 280px; }
  #sec_03 {
    padding-bottom: 400px; }
  #sec_04 {
    padding-bottom: 200px; }
  #sec_05 {
    text-align: center;
    padding-bottom: 40px; }
    #sec_05 .item {
      text-align: left; }
      #sec_05 .item p {
        font-size: 11px; }
  #sec_06 {
    padding: 40px 0 200px;
    background-size: 80%;
    background-position: bottom right;
    text-align: center; }
    #sec_06 .col-6 {
      width: 100%;
      left: 0; }
  #sec_09 {
    padding-bottom: 0; }
    #sec_09 .contacts {
      position: static;
      padding-left: 0 !important; }
    #sec_09 #footer {
      text-align: center !important;
      position: static;
      padding-left: 0 !important; }
      #sec_09 #footer .tl {
        text-align: center; }
      #sec_09 #footer .politics {
        text-align: center !important;
        float: none; }
      #sec_09 #footer .logo-gs {
        float: none;
        margin-top: 20px;
        display: inline-block; }
  #nav .inner {
    margin-left: 30px; }
  #nav .contacts span {
    display: block; }
  [id*='modal_good'] .slick-slide {
    text-align: center; }
  [id*='modal_good'] .slider_block {
    float: none;
    margin: 0 auto;
    max-width: 420px;
    width: 100%; }
  [id*='modal_good'] .text_block {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px; }
  #modal_goods .btn_close_modal {
    margin: 0 0 20px !important; } }

@media only screen and (max-width: 720px) {
  #sec_01 p.title {
    margin-top: 230px; }
  #sec_02 {
    padding-bottom: 200px; }
  #sec_03 {
    padding-bottom: 315px; }
    #sec_03 ul {
      margin-top: 30px; }
  #sec_04 {
    padding: 0 0 165px; }
  #sec_07 {
    padding: 49px 0 160px; }
  #sec_09 {
    padding-bottom: 0px; } }

@media only screen and (max-width: 650px) {
  .sizes_card {
    display: none !important; }
  #sec_09, #footer, section {
    padding-left: 40px !important; }
    #sec_09 .contacts .social, #footer .contacts .social, section .contacts .social {
      padding-left: 10px; }
  #sec_01 {
    background-position: left 30px top 0 !important; }
  #nav {
    width: 40px;
    padding-left: 40px; }
    #nav .svg {
      width: 40px;
      margin-left: -42px; }
    #nav .companie {
      font-size: 24px;
      margin-left: -33px; }
    #nav .trigger {
      left: -113px; }
    #nav #modal_nav {
      margin-left: 40px; }
      #nav #modal_nav form {
        margin-left: 5px;
        margin-right: 45px; }
    #nav #modal_send {
      margin-left: 40px;
      padding: 0 5px 0 45px; }
    #nav li + li {
      margin-top: 15px; } }

@media only screen and (max-width: 500px) {
  body {
    font-size: 16px;
    line-height: 22px; }
  h2 {
    font-size: 19px;
    line-height: 30px; }
  h1 {
    font-size: 30px;
    line-height: 36px; }
  #sec_01 {
    padding-bottom: 20px;
    background-size: 100%; }
    #sec_01 p.title {
      margin-top: 185px; }
  #sec_02 {
    padding-bottom: 170px; }
    #sec_02 br {
      display: none; }
    #sec_02 h2 {
      margin-top: 0; }
  #sec_03 {
    padding: 30px 0 215px; }
    #sec_03 br {
      display: none; }
    #sec_03 ul li {
      font-size: 16px;
      line-height: 23px; }
  #sec_04 {
    padding: 0 0 100px; }
    #sec_04 ul li {
      font-size: 16px;
      line-height: 23px; }
  #sec_05 {
    padding-top: 30px; }
    #sec_05 .item {
      padding: 10px; }
  #sec_06 {
    padding-bottom: 75px; }
  #sec_07 {
    padding: 49px 0 95px; }
  [id*='modal_goods'] .slider-big img {
    max-width: 420px;
    width: 100%; }
  [id*='modal_goods'] .slider-small {
    display: none; }
  [id*='modal_goods'] .slider_block {
    float: none;
    margin: 0 auto;
    max-width: 420px;
    width: 100%; }
  [id*='modal_goods'] .text_block {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px; }
  #sec_09 .contacts .row {
    margin: 0; } }

@media only screen and (max-width: 380px) {
  #modal_goods .btn_close_modal {
    margin: -10px auto 50px !important; } }

@media only screen and (max-height: 720px) {
  .sizes_card {
    display: none !important; }
  [class*='good_card'] .slider_block {
    width: 350px; }
  #nav li + li {
    margin-top: 5px; } }

@media only screen and (max-height: 600px) {
  #nav li {
    margin-top: -70px; }
  #nav li + li {
    margin-top: 0px; }
  #nav .trigger {
    font-size: 12px; }
  #nav .trigger:before {
    display: none; }
  #nav .contacts {
    display: none; } }

@media only screen and (max-height: 500px) {
  #nav .callback.trigger {
    display: none; } }
