@import url(../libs/niftymodal/component.css);
@import url(../libs/slick/slick.min.css);
@import url(../libs/fullPage/jquery.fullpage.min.css);
.orange {
  color: #fa6b26; }

#sec_01 {
  background: url(../img/sec_01-bg.png) top left 0px no-repeat;
  background-size: cover;
  position: relative; }
  #sec_01 .bg_text {
    color: #fa6b26;
    font-family: "Agency", sans-serif;
    mix-blend-mode: multiply;
    font-size: 450px;
    font-weight: 700;
    line-height: 132px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: 177px;
    bottom: 445px; }
  #sec_01 h1 {
    margin: 370px -20px 32px 0; }
  #sec_01 .title {
    font: 18px/20px "HelveticaNeueCyr-Light", sans-serif;
    letter-spacing: .14em;
    margin-right: -20px; }
    #sec_01 .title span {
      font-family: "HelveticaNeueCyr-Bold", sans-serif; }
  #sec_01 .text {
    font: 16px/20px "HelveticaNeueCyr-Thin", sans-serif;
    letter-spacing: 0.14em;
    margin: 40px 0 20px; }

#sec_02 {
  background: url(../img/sec_02-bg.jpg) top right 0px no-repeat;
  background-size: cover; }
  #sec_02 h2 {
    margin: 0 0px 50px 0; }
  #sec_02 ul li {
    font-family: "HelveticaNeueCyr-Thin", sans-serif; }
    #sec_02 ul li .number {
      color: #fa6b26;
      font: 20px "Akrobat-ExtraBold", sans-serif; }
    #sec_02 ul li span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
  #sec_02 ul li + li {
    margin-top: 20px; }

#sec_03 {
  background: url(../img/sec_03-bg.png) top right 0px no-repeat;
  background-size: cover; }
  #sec_03 .col-6 {
    margin-left: -30px; }
  #sec_03 h2 {
    margin: 100px 0 50px; }
  #sec_03 li {
    font: 18px/27px "HelveticaNeueCyr-Thin", sans-serif; }
    #sec_03 li .orange {
      font-family: "Akrobat-Black", sans-serif; }
    #sec_03 li span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
  #sec_03 li + li {
    margin-top: 20px; }
  #sec_03 ul {
    margin-bottom: 30px; }
  #sec_03 .title {
    margin: 10px 0 20px; }
  #sec_03 .text {
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    margin-bottom: 30px; }
    #sec_03 .text span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }

#sec_04 {
  background: url(../img/sec_04-bg.png) top right 0px no-repeat;
  background-size: cover; }
  #sec_04 h2 {
    margin: -190px 0 10px; }
  #sec_04 h2 + p {
    font-family: "HelveticaNeueCyr-Light", sans-serif; }
  #sec_04 ul {
    margin: 30px 0 0; }
  #sec_04 li {
    font: 18px/27px "HelveticaNeueCyr-Thin", sans-serif; }
    #sec_04 li span {
      font-family: "HelveticaNeueCyr-Roman", sans-serif; }
    #sec_04 li img {
      margin-right: 10px; }
  #sec_04 li + li {
    margin-top: 20px; }

#sec_05 {
  background: url(../img/sec_05-bg.png) top right 0px no-repeat;
  background-size: cover; }
  #sec_05 h2 {
    margin-bottom: 50px; }
  #sec_05 .item {
    border: 2px solid #eee;
    width: 360px;
    height: 430px;
    padding: 40px; }
    #sec_05 .item img {
      margin: 0 auto 20px; }
    #sec_05 .item p {
      color: #1a1a1a;
      font-size: 13px;
      line-height: 22px;
      text-transform: uppercase; }

#sec_06 {
  background: url(../img/sec_06-bg.png) top right 0px no-repeat;
  background-size: cover; }

#sec_07 {
  background: url(../img/sec_07-bg.png) top right 0px no-repeat;
  background-size: cover; }

#sec_08 {
  background: url(../img/sec_08-bg.png) top right 0px no-repeat;
  background-size: cover; }

#sec_09 {
  background: url(../img/sec_09-bg.png) top right 0px no-repeat;
  background-size: cover; }

#footer {
  padding: 15px 0 15px;
  background: #202020; }
  #footer .politics {
    float: left;
    line-height: 29px; }
    #footer .politics a + a {
      margin-left: 10px;
      display: inline-block; }
  #footer .logo-gs {
    float: right;
    width: 95px;
    display: block; }
    #footer .logo-gs svg {
      fill: #666;
      -webkit-transition: all 0.6s;
      transition: all 0.6s; }
  #footer a {
    color: #65666a;
    font-size: 14px; }
  #footer a:hover {
    color: #b46adf; }
    #footer a:hover svg {
      fill: #b46adf; }

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
  cursor: grab !important;
  cursor: -webkit-grab !important; }

.touch_mode_grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important; }

/* ==========================*/
.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: blue;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: blue; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"] {
  max-width: 500px; }
  div[id*="modal_callback"] h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 30px; }
  div[id*="modal_callback"] .md-content {
    padding: 20px;
    background: #fff;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .form-wrap {
    display: block; }
  div[id*="modal_callback"] .field {
    width: 300px; }
    div[id*="modal_callback"] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 5px; }
  div[id*="modal_callback"] textarea {
    width: 100%;
    height: 100px;
    resize: none;
    background: #fff;
    border: 1px solid #b7b7b7;
    padding: 5px 20px; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 20px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 320px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -7px;
  opacity: 1; }

.btn_close_modal {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  right: 4px;
  top: 0px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #DD1A1E; }

.t_small {
  font-size: 14px; }

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: none; }

.slick-dots li button {
  background-color: #fa6b26;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fa6b26;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 12px; }

.slick-next {
  z-index: 10;
  right: 0;
  background: url(../img/slider-next.png) top center no-repeat; }

.slick-prev {
  background: url(../img/slider-prev.png) top center no-repeat;
  z-index: 10;
  right: 100px; }

.slick-next, .slick-prev {
  position: absolute;
  display: block;
  cursor: pointer !important;
  width: 75px;
  height: 13px;
  border: none;
  outline: none;
  top: -40px; }

.slick-slide {
  outline: none; }

@media (min-width: 1500px) and (max-width: 1900px) {
  #sec_01 {
    background-size: 100%;
    background-position: left -50px top 0; }
    #sec_01 .bg_text {
      left: -200px; }
    #sec_01 h1 {
      margin-top: 400px; }
  #sec_02 {
    background-position: top 0 right -200px; }
  #sec_03 h2 {
    background: #F6F6F6; }
  #sec_04 {
    background-position: top right -200px; } }

@media (min-width: 1201px) and (max-width: 1499px) {
  #sec_01 {
    background-size: 110%;
    background-position: left -50px top 0; }
    #sec_01 h1 {
      margin-top: 400px; }
    #sec_01 .bg_text {
      left: -220px;
      bottom: 360px;
      font-size: 380px; }
  #sec_02 {
    background-position: top 0 right -300px; }
  #sec_03 {
    background-position: top -100px right -100px; }
    #sec_03 .col-6 {
      margin-left: -230px; }
  #sec_04 {
    background-position: top right -300px; } }

@media only screen and (max-width: 992px) {
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; } }

@media only screen and (max-width: 480px) {
  .pad {
    padding: 20px 5px !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
